* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Kings", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(40px, 7vw, 120px);
    color: white;
    -webkit-text-stroke: 2px black;
    z-index: 11;
}

nav {
    display: flex;
    justify-content: center;
}

#index-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/rock-wall.png);
    min-height: 100vh;
    overflow-x: hidden;
}

.border-container {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.border-img {
    width: clamp(300px, 90%, 800px);
    height: auto;
    display: block;
    margin-bottom: 3vh;
    background-image: url(./backgrounds/cover.avif);
    background-size: cover;
}

#index-parchment {
    width: 40%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

#textBox {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#options {
    position: relative;
    z-index: 2;
    text-align: center;
    list-style-type: none;
    font-family: "Jacquard 24", cursive;
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#options li {
    cursor: pointer;
    margin: 10px 0;
    transition: 0.3s;
    position: relative;
}

#options li:hover {
    color: #F9D357;
    transform: scale(1.1);
    padding-left: 30px;
}

#options li:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url('images/quilt.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.curtains {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*hard-coded the width so on other computers the curtain will be missaligned 
here at [width] */
#left-facing-curtain,
#right-facing-curtain {
    width: 85%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}